html,body{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.table thead th {
    text-align: left;
    border-bottom: 2px solid #eceeef;
}
.table td,
.table th {
    line-height: 17px;
    height: 37px;
    vertical-align: middle;
    padding: 0 5px;
    border-right: 1px solid #eceeef;
}

.table th {
    border-top: 1px solid #eceeef;
}

.table th.url {
    width: 40%;
}

.table th.name {
    width: 200px;
}

.table td.name {
    cursor: pointer;
}

.table th.host {
    width: 101px;
}

.table th.ip {
    width: 91px;
}

.table th.size {
    width: 50px;
}

.table td {
    border-bottom: 1px solid #eceeef;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
}

/*.table td.name {
    font-weight: 700;
}*/

.table td .icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    margin-right: 3px;
    background-repeat: no-repeat;
}

.script {
    background-image: url(../img/script.png);
}

.style {
    background-image: url(../img/style.png);
}

.svg {
    background-image: url(../img/svg.png);
}

.xml {
    background-image: url(../img/xml.png);
}

.html {
    background-image: url(../img/html.png);
}

.json {
    background-image: url(../img/json.png);
}

.image {
    background-image: url(../img/image.png);
}

.font {
    background-image: url(../img/font.png);
}

.audio {
    background-image: url(../img/audio.png);
}

.video {
    background-image: url(../img/video.png);
}

.other {
    background-image: url(../img/other.png);
}

.table td .subtitle {
    color: #808080;
    font-weight: 400;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.rules {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: auto;
    background: #fff;
    border: 1px solid #eee;
    z-index: 1;
}

.view {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
    z-index: 1;
}

.close {
    position: absolute;
    right: 0;
    top: 5px;
    width: 50px;
    font-size: 50px; 
    color: #333;
    cursor: pointer;
}

.close:after {
    content: "\d7";
}
