body,
h1 {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
    color: #767676;
    width: 300px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.logo {
    padding-left: 40px;
    background: url(../img/icon-38.png) no-repeat;
}

.title {
    color: #eb4f38;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

.row {
    margin-bottom: 10px;
}
