<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>charles</title>
    <link rel="stylesheet" href="../css/options.css">
</head>
<body>
    <div class="wrap">
    <table class="table">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>Type</th>
                <th class="status">Status</th>
                <th>Cache</th>
                <th>Method</th>
                <th class="host">Host</th>
                <th class="url">Url</th>
                <th class="ip">Ip</th>
                <th class="size">Size</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="j-list"></tbody>
    </table>
    </div>
    <div class="rules">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 60%">Rule</th>
                    <th>Map</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="j-rules"></tbody>
        </table>
    </div>
    <div id="j-view" class="view">
        <div class="close"></div>
        <input class="j-file" type="file">
    </div>
    <script type="text/template" id="j-tpl-request">
        <tr>
            <td class="name" title="<%= url %>">
                <div class="icon <%= type %>"><%= type === 'image' ? '<img src="' + url + '">' : '' %></div>
                <%= name %>
                <div class="subtitle"><%= path %></div>
            </td>
            <td><%= type %></td>
            <td><%= statusCode %></td>
            <td><%= fromCache %></td>
            <td><%= method %></td>
            <td title="<%= host %>"><%= host %></td>
            <td>
                <a href="<%= url %>" title="<%= url %>" target="_blank"><%= url %></a>
            </td>
            <td><%= ip %></td>
            <td><%= size %></td>
            <td><button class="btn j-add" data-id="<%= id %>">修改</button></td>
        </tr>
    </script>
    <script type="text/template" id="j-tpl-rule">
        <tr data-id="<%= id %>" data-type="<%= type %>">
            <td><input type="checkbox"/></td>
            <td><%= id %></td>
            <td><%= name %></td>
            <td>
                <button class="btn j-onoff"><%= enable ? '关闭' : '开启' %></button>
                <button class="btn j-edit">修改</button>
                <button class="btn j-del">删除</button>
            </td>
        </tr>
    </script>
    <script src="../js/lib/jquery-2.1.4.min.js"></script>
    <script src="../js/config.js"></script>
	<script src="../js/options.js"></script>
</body>
</html>
