<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>charles</title>
    <link rel="stylesheet" href="../css/options.css">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>Type</th>
                <th class="status">Status</th>
                <th>Cache</th>
                <th>Method</th>
                <th class="url">Url</th>
                <th class="host">Host</th>
                <th class="ip">Ip</th>
                <th class="size">Size</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="j-list"></tbody>
    </table>
    <script type="text/template" id="j-item">
        <tr>
            <td class="name" title="<%= url %>">
                <div class="icon <%= type %>"></div>
                <%= name %>
                <div class="subtitle"><%= path %></div>
            </td>
            <td><%= type %></td>
            <td><%= statusCode %></td>
            <td><%= fromCache %></td>
            <td><%= method %></td>
            <td><a href="<%= url %>" title="<%= url %>" target="_blank"><%= url %></a></td>
            <td><%= host %></td>
            <td><%= ip %></td>
            <td><%= size %></td>
            <td>修改</td>
        </tr>
    </script>
    <script src="../js/lib/jquery-2.1.4.min.js"></script>
    <script src="../js/config.js"></script>
	<script src="../js/options.js"></script>
</body>
</html>
